# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.opendb
*.sqlite
*.suo
**/build/
**/.vs/*
!**/.vs/**/*.json
*.vspx
Exercise1/.vs/VSWorkspaceState.json
**/.idea/*
**/cmake-build-debug/*
/CMakeLists.txt
**/.vs/VSWorkspaceState.json
/cmake-build-release/*
Exercise7/bench/lastrun/
Exercise8/openmpi-2.1.1/
Exercise8/openmpi-2.1.1.tar.gz
cmake-3.9.6-Linux-x86_64.sh
autotools-dev_20150820.1_all.deb
automake_1.15-4ubuntu1_all.deb
autoconf_2.69-9_all.deb
automake-1.15/
openmpi-2.1.2/
Exercise10/mmul/.vs/
Exercise10/mmul/CMakeSettings.json
